.main{
  width: 100%;
  min-height: 340px;
}
.param {
  margin: 0;
  padding: 0;
  margin-bottom: 0 !important;
  margin: 0 40px;
  color: #C69C52;
}

.changeValue{
  color: #5ce05c;
}
 .btnChange:hover{
  cursor: pointer;
 }

 .btnChange{
  font-size: 30 !important;
  font-weight: 800;
 }

 .charapter{
  position: relative;
 }


 .save{
  position: absolute;
  right: 10px;
  top: 0px;
  color: white;
 }